p{color: blue;}
a{ color: rgba(155, 20, 15, 0.712);}
h1{color: rgb(255, 0, 0);} 

 
.principal {color: rgb(125, 197, 43); }

.caja {  
    width: 300px;
     height: 300px;
      padding:25px;
       margin: 40px;
        border: 3px solid red;}

 .secundario {color: rgb(255, 0, 0);}
 #textpeque {font-size: spx; border: ;}

 .contenedor {
         display: flex;
           flex-direction: row-reverse;
              justify-content: center;}

.item {
    width: 33%;
     height: auto;
      background-color: aquamarine;}

.grid-container { display: grid;
                   grid-template-columns: auto auto auto;
                    gap: 10px; 
                     height: 300px;
                      width: 300px;
                       padding: 25px;
                        margin: 40px;}

.grid-item { background-color: green;
              padding: 25px;
               height: 300px;
              width: 300px;
          padding: 25px;
      margin: 40px;
  border: 3px solid blue;}    
  
  @media (max-width:600px) { 
.contenedor{
    flex-direction: column; }}